body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(11, 11, 11);
  color: white;
}
* {
  margin: 0;
  padding: 0;
}
.Headingtest{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(101, 101, 101);
}