@import "tailwindcss";

body,
html {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  cursor: none;
}
:root{
  --primary-font: "Chewy", system-ui;
  --primary-color: #6C63FF;
  --background-color: #1E1E2E;
}
* {
  font-family: var(--primary-font);
  font-weight: 400;
  /* font-style: normal; */
}
.Headingtest{
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(101, 101, 101);
}